<!--Main Container-->
<div class="container">
  <!--  Side navigation cards and title-->
  <div class="navigation">
    <!--    Main title-->
    <div class="app-title">
      <p class="title">
        <img src="assets/Vector.svg" width="30px" height="30px" />Football
        System
      </p>
    </div>
    <!--    Nav cards-->
    <div class="nav-buttons">
      <div class="cards">
        <div class="card" routerLink="/points">Table in points order</div>
        <div class="card" routerLink="/goals">Table in goals order</div>
        <div class="card" routerLink="/wins">Table in wins order</div>
        <div class="card">Generate a random match</div>
        <div class="card" routerLink="/matches">Match table</div>
      </div>
    </div>
  </div>
  <!--  Main body-->
  <div class="main">
    <!--    Main body title-->
    <div class="body-title">
      <p class="topic" routerLink="">Home/ Goals</p>
    </div>
    <!--    Main content-->
    <div class="content">
      <table>
        <tr>
          <th>Club Name</th>
          <th>Location</th>
          <th>Matches Played</th>
          <th>Matches Won</th>
          <th>Matches Lost</th>
          <th>Matches Drawn</th>
          <th>Points</th>
          <th>Goals Received</th>
          <th>Goals Scored</th>
        </tr>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.clubName }}</td>
          <td>{{ todo.location }}</td>
          <td>{{ todo.played }}</td>
          <td>{{ todo.won }}</td>
          <td>{{ todo.lost }}</td>
          <td>{{ todo.drawn }}</td>
          <td>{{ todo.points }}</td>
          <td>{{ todo.goalsRceived }}</td>
          <td>{{ todo.goalsScored }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
