<!--Main Container-->
<div class="container">
  <!--  Side navigation cards and title-->
  <div class="navigation">
    <!--    Main title-->
    <div class="app-title">
      <p class="title">
        <img src="assets/Vector.svg" width="30px" height="30px" />Football
        System
      </p>
    </div>
    <!--    Nav cards-->
    <div class="nav-buttons">
      <div class="cards">
        <div class="card" routerLink="/points">Table in points order</div>
        <div class="card" routerLink="/goals">Table in goals order</div>
        <div class="card" routerLink="/wins">Table in wins order</div>
        <div class="card">Generate a random match</div>
        <div class="card">Match table</div>
      </div>
    </div>
  </div>
  <!--  Main body-->
  <div class="main">
    <!--    Main body title-->
    <div class="body-title">
      <p class="topic">Home</p>
    </div>
    <!--    Main content-->
    <div class="content">
      <p class="welcome">Welcome</p>
    </div>
  </div>
</div>
